
# Connect to Supabase via connection pooling
DATABASE_URL=

# Direct connection to the database. Used for migrations
DIRECT_URL=

#Supabase Project Url
NEXT_PUBLIC_SUPABASE_URL=

#Old Method Supabase Key
NEXT_PUBLIC_SUPABASE_ANON_KEY=

#New Method Supabase Key
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=